<div class="page-header">
  <h1>Collaboration Space</h1>
</div>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>


<%= link_to 'New Post', new_proyecto_question_path(@proyecto), class: "btn btn-success" %> 

<h3>Discussions</h3>
<% @questions.each do |question| %>
  <% if question.question_type == "discussion" %>
		<div class="status row">
      <div class="span7">
        <strong><%= current_user.name %> <%= current_user.last_name %></strong>
        <p><%= question.title %></p>
        <div class="meta">
          <%= link_to time_ago_in_words(question.created_at) + " ago", show_answers_question_path(question) %>
          <span class="admin">
	          <%= link_to 'Reply', show_answer_path(question) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<h3>Resources</h3>
<% @questions.each do |question| %>
  <% if question.question_type == "resource" %>
    <div class="status row">
      <div class="span7">
        <strong><%= current_user.name %> <%= current_user.last_name %></strong>
        <p><%= question.title %></p>
        <div class="meta">
          <%= link_to time_ago_in_words(question.created_at) + " ago", show_answers_question_path(question) %>
          <span class="admin">
            <%= link_to 'Reply', show_answer_path(question) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<h3>Deliverables</h3>
<% @questions.each do |question| %>
  <% if question.question_type == "deliverable" %>
    <div class="status row">
      <div class="span7">
        <strong><%= current_user.name %> <%= current_user.last_name %></strong>
        <p><%= question.title %></p>
        <div class="meta">
          <%= link_to time_ago_in_words(question.created_at) + " ago", show_answers_question_path(question) %>
          <span class="admin">
            <%= link_to 'Reply', show_answer_path(question) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
	





