 
<%= simple_form_for [@proyecto, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved: </h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



      <%= f.input :title, placeholder: 'Post Title', label: false, class: 'form-control' %>
   <br>
   <%= f.text_area :question, placeholder: 'Post your Interest', label: false, class: "form-control"%>
   <br>
   <div class="choices">
        <td  ><%= f.input  :question_type, priority: [ "discussion" ], collection: [ "discussion", "resource", "deliverable"], label: "Post type" %></td>
  </div>
   <br>
        <%= f.input :attachment, input_html: { hidden: true }, label: 'Upload Attachment' %>
</div>
   <div class="controls">
  <br>
    <%= f.submit 'Post', class: 'button expanded'%>
 
  </div>
<% end %>
