<div>
<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="page-header">
  <%if user_type == ("Practicante") %>
    <h1><%= "#{user_type}, registrate." %></h1>
    <%elsif user_type == ("Empresario") %>
    <h1><%= "#{user_type}, registrate." %></h1>
  <%end%>
</div>


        <fieldset class="form-group">
          <%= f.input :name, placeholder: 'name', label: false%><br>
        </fieldset>

        <fieldset class="form-group">
          <%= f.input :last_name, placeholder: 'last_name', label: false %><br>
        </fieldset>

        <fieldset class="form-group">
       
          <%= f.input :genre, placeholder: 'genre', label: false %><br>
        </fieldset>

        <fieldset class="form-group">
       
            <%= f.input :email, placeholder: 'email', label: false %><br>
        </fieldset>

        <fieldset class="form-group">
       
          <%= f.input :birthday_year, placeholder: 'birthday_year', label: false %>
       
        </fieldset>

        <% if user_type == "Empresario" || user_type == "empresa" %>
          <fieldset class="form-group">

            <%= f.input :organization, placeholder: 'organization', label: false %>    
          </fieldset>
        <% end %> 

        <fieldset class="form-group">

          <%= f.input :opinion, placeholder: 'opinion'%>
        </fieldset>      

        <fieldset class="hide">
          <%= f.input :user_type, :value => user_type, :disabled => false%>
        </fieldset>

         <fieldset class="form-group">

          <%= f.input :password, placeholder: 'password'%>
        </fieldset>


          <% if user_type == "Practicante" || user_type == "practicante" %>
            
             
              <label>
              <%= "Your Skills:" %>
              </label>

              <div class="checkbox" >
              <% Skill.all.each do |skill| %>
              <li class="p-left"><%= check_box_tag "user[skill_ids][]", skill.id, @user.skills.include?(skill), class: 'squaredTwo' %><%= skill.name %></li>
              <%end%>
               <br>
              </div> 

          <% end %>

          
          <div class="controls">
            <%= f.submit 'Create User', class: 'btn btn-primary'%>
          </div>
      <% end %>

</div>

