<h1><%= "#{user_type}, registrate." %></h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="signup">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :genre %><br>
      <%= f.text_field :genre %>
    </div>

    <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :birthday_year %><br>
      <%= f.text_field :birthday_year %>
    </div>

    <% if user_type == "Empresario" %>
	    <div class="field">
	      <%= f.label :organization %><br>
	      <%= f.text_field :organization %>
	    </div>
    <% end %>

    <div class="field">
      <%= f.label :opinion %><br>
      <%= f.text_field :opinion %>
    </div>

    <div class="hide">
      <%= f.label :user_type %><br>
      <%= f.text_field :user_type, :value => user_type, :disabled => false%>
    </div>

     <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>