<!-- centrado de titulo -->
<div class="row col-md-4 col-md-offset-4">
<% if user_type == "Empresario" || user_type == "empresa" %>
  <% user_type = "empresa" %>
  <% @user_value = "emp" %>
<% else %>
  <% user_type = "practicante" %>
  <% @user_value = "prac" %>
<% end %>


<%if @user_value == "prac" %>
    <h1 id="hsign"><%= "#{user_type.capitalize}, registrate." %></h1>
<% else %>
    <h1 id="hsign"><%= "#{user_type.capitalize}, registrate." %></h1>
  <%end%>
  <br>
<hr>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<!-- termina el centrado del titulo -->
<div class="content_profile">
    <div class="signup">
        <div>
          
          <%= f.text_field :name, placeholder: 'name', class: 'form-control' %><br>
        </div>

        <div class="field">
          <%= f.text_field :last_name, placeholder: 'last_name', class: 'form-control' %><br>
        </div>

        <div class="field">
       
          <%= f.text_field :genre, placeholder: 'genre', class: 'form-control' %><br>
        </div>

        <div class="field">
       
            <%= f.text_field :email, placeholder: 'email', class: 'form-control' %><br>
        </div>

        <div class="field">
       
          <%= f.text_field :birthday_year, placeholder: 'birthyear', class: 'form-control' %><br>
        </div>

        <% if @user_value == "emp" %>
          
          <div class="field">

            <%= f.text_field :organization, placeholder: 'organization', class: 'form-control' %>      <br>
          </div>
        <% end %> 

        <div class="field">

          <%= f.text_field :opinion, placeholder: 'opinion', class: 'form-control' %>
        </div>      <br>

        <div class="hide">
          <%= f.label :user_type %><br>
          <%= f.text_field :user_type, :value => user_type, :disabled => false%>
        </div>

         <div class="field">

          <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
        </div><br>


          <% if @user_value == "prac" %>
         
            <div class="checkbox" >
             
              <%= "Your Skills:" %>
              
              <% Skill.all.each do |skill| %>
              <li><%= check_box_tag "user[skill_ids][]", skill.id, @user.skills.include?(skill) %><%= skill.name %></li>
              <%end%>
               <br>
            </div> 

          <% end %>

          
          <div class="controls">
            <%= f.submit 'Update Profile', class: 'btn btn-primary'%>
          </div>
      <% end %>
     </div>
</div>
