<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @user.name %>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<% if current_user.user_type == "Practicante" %>
	<ul>
	<% current_user.proyectos.each do |project|  %>
	  <li><%= "#{project.title} :#{current_user.status_of_project(project)}" %></li>
	<% end %>
	</ul>
<% end %>

<%= link_to 'Back', users_path %>



