<p id="notice"><%= notice %></p>


<div  class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-3 col-lg-offset-2">
  <div class="content">
	<div class="page-header">
	  <h1>Welcome <%= current_user.name %></h1>
	</div>
	<br>
	<% if current_user.user_type == "empresa" %>
	<h3 class="newp">YOUR PROJECTS</h3>

	<% else %>
	<h3 class="newp">ALL PROJECTS:</h3>
	<% end %>
	<br>
	<div class="media">
	  <div class="media-body">
		<% if current_user.user_type == "practicante" %>
			
		    <table class="table table-hover">
				<thead>
					<tr>
						<th>Project Title</th>
						<th>Project Status</th>
						<th>Collaboration Space</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>

	        <% all_projects.each do |project| %>
              <% @find = false %>
                <tr>
				  <% current_user.postulations.each do |postulation|  %>
					  
					  <% if postulation.proyecto_id == project.id && current_user.id == postulation.user_id %>
					    <% project = current_project(postulation.proyecto_id) %>
					      <% @find = true %>
					      <!-- working -->
						  <td><%= link_to project.title, description_project_path(project) %></td>
						  <!-- worked -->
						  <% if project.status_of_project(project) == "aceptado" %>
						    <td><span class="label label-success">Accepted</span></td>
						    <td><%= link_to 'Collaborate', show_collaboration_space_path(project), class: 'btn btn-success btn-sm' %></td>
						  <% end %>
						  <% if project.status_of_project(project) == "postulado" %>
						    <td><span class="label label-warning">Processing</span></td>
						    <td><button type="button" class="btn btn-warning btn-sm" disabled="true"><%= "Applied" %></button></td>
						  <% end %>
					        
					    <% end %>
					<% end %><!-- postulations -->	
					<% if @find == false %>
						<td><%= link_to project.title, description_project_path(project) %></td>
						<td><span class="label label-danger">Available</span></td>
						<td><%= link_to ' Join ', request_path(project),class: "btn btn-danger btn-sm" %></td>	
					<% end %>
				</tr>
				<% end %><!-- projects -->		
				</tbody>
			</table>
			
		<% else %>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Project Title</th>
						<th>Project Description</th>
						<th>Incentive</th>
						<th>Project Result</th>
						<th>Students Accepted</th>
						<th>Project Deadline</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
				<% current_user.proyectos.each do |proyecto| %>
				  <tr id="<%= "delete_proyecto_#{proyecto.id}" %>">
				  	<td><%= link_to proyecto.title, show_collaboration_space_path(proyecto) %></td>
				  	<td><%= proyecto.description %></td>
				  	<td><%= proyecto.incentive %></td>
				  	<td><%= proyecto.result %></td>
				  	<td><%= proyecto.num_students %></td>
				  	<td><%= proyecto.dead_line %></td>
				  	<td><%= link_to 'Learners by Project', show_participantes_proyecto_path(proyecto), class: 'btn  btn-primary btn-sm' %></td>
				  	<td><%= link_to 'Edit', edit_proyecto_path(proyecto), class: 'btn btn-success btn-sm' %></td>
				  	<td><%= link_to 'Destroy', proyecto, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }, :remote => true %></td>
				  </tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	<br><br><br><br>
	<% if current_user.user_type == "empresa" %>
	  <p class="newp"><%= link_to 'New Project', new_project_path, class: "btn btn-success"  %></p>
	<% end %>
  </div>
</div>



