<h2><%= @question.title %></h2>
<h3><%= @question.question %></h3>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>

<%= simple_form_for [@question, @answer] do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved: </h2>
      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="large-5 columns log-in-form">
     <%= f.input :answer, placeholder: 'Comment', label: false %>
     <br>
     <div class="controls">
      <%= f.submit 'Comment', class: 'button expanded'%>
     </div>
  </div>
<% end %>