<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Welcome | LetsCode" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
      <li><%= link_to 'Let`s Code!!', root_path %></li>
      </ul>
      <% if current_user %>
      <ul class="nav navbar-nav">
      <li><%= link_to 'Sign Out', logout_path %></li>
      </ul>
      <div id="btn" class="btn-group pull-right right-nav">
        <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown" id="button">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><%= current_user.name %><span class="caret"></span></a>
        </button>
        <ul  class="dropdown-menu">
          <li>A</li>
          <li>B</li>
          <li>C</li>
        </ul>
      </div>
      <% else %>
      <ul class="nav navbar-nav">
      <li><%= link_to 'Sign In', signin_path %></li>
     </ul>
      <% end %>
    </nav>
   <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
   <% elsif flash[:error] %>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div> 
   <% elsif flash[:alert] %>
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div> 
   <% end %>  
   <div class="top">
     <%= yield %>
   </div>
</div>

</body>
</html>
