<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Welcome | LetsCode" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <ul class="container-fluid">
        <li class="name">
          <h1>
            <a href="/">Let's code!!</a>
          </h1>
        </li>
      </ul>
      <section class="navbar-header">
        <ul class="right">
          <% if current_user %>
          <li class="has-dropdown active">
            <%= link_to 'Profile', current_user %>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cerrar sesión', logout_path %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to 'Sign in', signin_path  %></li>
          <% end %>
         </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <div class="container">



          <% if session[:errors] %>
            <p><%= session[:errors] %></p>
            <% session[:errors].clear %>
          <% end %>

    <%= yield %>
  </div>
  </div>
</div>
  </body>
</html>
