<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Welcome | LetsCode" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <ul id="title" class="nav navbar-nav">
      <li><%= link_to 'Let´s Code!', root_path %></li>
      </ul>
      <!-- RESOURCE -->
      <% if current_user %>
      <!-- RESOURCE! -->
      <div id="btn" class="btn-group pull-right right-nav">
        <button type="button" class="btn btn-primary dropdown-toggle" id="button">
          <a class="dropdown-toggle"><%= current_user.name %></a>
        </button>
        <button id="button" type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
        <!-- MODIFICATION -->
        <ul class="dropdown-menu">
          <li><%= link_to 'Home', user_path(current_user) %></li>
          <li><%= link_to 'Profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', logout_path %></li>
        </ul>
        <!-- MODIFICATION -->
      </div>
      <% else %>
      <ul id="signin" class="nav navbar-nav">
      <li><%= link_to 'Sign In', signin_path %></li>
     </ul>
      <% end %>
    </nav>
   <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
   <% elsif flash[:error] %>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div> 
   <% elsif flash[:alert] %>
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div> 
   <% end %>  
   <div class="top">
     <%= yield %>
   </div>
</div>

</body>
</html>
